OLD/mind_AR_Old01.html
OLD/mind_AR_Old02.html
test01/index.html
test01/script.js
test02/index.html
test02/script.js
test02/assets/nutri.jpg
test02/assets/nutri.mind
script2.js
script3.js
script4.js
script1.js
script5.js
test03/index.html
test03/script.js
test00/index.html
test00/script.js
test00/assets/cat_banana/license.txt
test00/assets/cat_banana/scene.bin
test00/assets/cat_banana/scene.gltf
test00/assets/cat_banana/textures/Material.001_baseColor.png
test00/assets/cat_banana/textures/Material.002_baseColor.png
test00/assets/cat_banana/textures/Material.004_baseColor.png
test00/assets/cat_banana/textures/Material.005_baseColor.png
test00/assets/cat_twins/license.txt
test00/assets/cat_twins/scene.bin
test00/assets/cat_twins/scene.gltf
test00/assets/cat_twins/textures/Material.004_baseColor.png
test00/assets/cat_walking/license.txt
test00/assets/cat_walking/meow.mp3
test00/assets/cat_walking/scene.bin
test00/assets/cat_walking/scene.gltf
test00/assets/cat_walking/textures/Mat_Gradient_baseColor.jpeg
test00/assets/duck/license.txt
test00/assets/duck/quack1.mp3
test00/assets/duck/quack2.mp3
test00/assets/duck/quack3.mp3
test00/assets/duck/scene.bin
test00/assets/duck/scene.gltf
test03/assets/nutri.jpg
test03/assets/targetNutri.mind
test03/assets/bunny/license.txt
test03/assets/bunny/scene.bin
test03/assets/bunny/scene.gltf
